/*My CSS File*/


.animal {
    margin: 10px;
    padding: 0px 15px 0px 15px;
    font-size: 24pt;
}

#addAnimal {
    margin: 25px 5px 0px 25px;
}

.animalPics {
    margin: 10px 10px 10px 10px;
    }

.addButton {
    text-align: right;
    margin: 0px 120px 20px 0px;
}